<ion-header-bar class="bar-calm">
      <h1 class="title droid-heading-fix">About</h1>
 </ion-header-bar>

 <ion-view>
 	<ion-content class="padding text-center ">
 		<div class="about-content">

 		<h2>OSL</h2>
 		<h4>Open Source Learning aims to provide free courses videos and guidelines based on the OSS(Open Source University) curriculum.</h4>

 		<h3>Follow the project in <strong><a  class="icon ion-social-github" href="https://github.com/open-source-society/computer-science"></a></strong></h3>
 		<img class="title about-img" src="img/think-open-source.png"></img>
 	</div>
 	</ion-content>
</ion-view>