<ion-header-bar class="bar-calm">
      <a href="#/tab/courses"class="icon ion-ios-arrow-back button button-clear">back</a> 
      <h1 class="title droid-heading-fix">Algorithms</h1>
</ion-header-bar>
<!-- second nav pane -->

<div class="bar bar-subheader">
    <div class="button-bar button-positive">
        <a href="#/tab/pdesign-course"class="button">Description</a>
        <a href="#" class="button">Curriculum</a>
        <a href="#/tab/algo-videos" class="button">Videos</a>
    </div>
</div>


<ion-view>
  <ion-content  class="padding text-center has-subheader">
        <img class="course-heading-images" src="img/programming_algorithms.png" alt="iamge">
       <h2> Algorithms </h2>
       <p>Here you will learn the essential information that every serious programmer needs to know about algorithms and data structures, with emphasis on applications and scientific performance analysis of Java implementations.</p>
        <ion-list>
          </ion-item>
          <div class="start-learning-btn">
          <a href="#/tab/algo-videos" class="button button-full button-calm">Start Learning</a>
        </div>
      </ion-list>
      
      </div>
  </ion-content>  
</ion-view>
 
