<ion-header-bar class="bar-calm">
      <a href="#/tab/courses"class="icon ion-ios-arrow-back button button-clear">back</a> 
      <h1 class="title droid-heading-fix">Computer Science</h1>
</ion-header-bar>
<!-- second nav pane -->

<div class="bar bar-subheader">
    <div class="button-bar button-positive">
        <a href="#/tab/cs-course"class="button">Description</a>
        <a href="#/tab/cs-curriculum" class="button">Curriculum</a>
        <a href="#/tab/cs-videos" class="button">Videos</a>
    </div>
</div>


<ion-view>
  <ion-content ng-controoler="CsListController" class="padding text-center has-subheader">
       <h2> CS Course</h2>
       <p> The Computer Science course will provide you a completed guideline to online material to sucessfully accomplish the required courses to master your programming skills.</p>

        <ion-list>
          <ion-item class="item-divider">
            <h2>Are You...</h2>
         </ion-item>
          <ion-item >
             <h2><i class="icon icon-right ion-checkmark"> </i> Self Motivated</h2>
          </ion-item>
          <ion-item >
             <h2><i class="icon icon-left ion-checkmark"> </i> Technology Passionate</h2>
          </ion-item>
          <ion-item >
             <h2><i class="icon icon-left ion-checkmark"> </i> Programming Interested</h2>
          </ion-item>
          <div class="start-learning-btn">
          <a href="#/tab/courses" class="button button-full button-calm">Start Learning</a>
        </div>
      </ion-list>
      
      </div>
  </ion-content>  
</ion-view>
 
