<ion-header-bar class="bar-calm">
  <!--<button class="icon ion-navicon button button-clear"></button> -->
  <h1 class="title droid-heading-fix">OSL</h1>
  </ion-header-bar>
<ion-view>
  <ion-content class="padding text-center">
    <div class=" padding text-center">
        <img class="title entrance-img" src="img/entrance-img.png"></img>
    </div>
    <div class="card">
        <div class="item item-divider card-head">
          <h1>Start Learning Today!</h1>
        </div>
        <a href="#/tab/cs-course" class="button button-full button-calm">Computer Science </a> 
        <a href="#/tab/home" class="button button-full button-calm">Cyber Security </a> 
    </div>
  </ion-content>
</ion-view>


  
