<ion-header-bar class="bar-calm">
      <a href="#/tab/courses"class="icon ion-ios-arrow-back button button-clear">back</a> 
      <h1 class="title droid-heading-fix">Mathematical Thinking</h1>
</ion-header-bar>
<!-- second nav pane -->

<div class="bar bar-subheader">
    <div class="button-bar button-positive">
        <a href="#/tab/math-course"class="button">Description</a>
        <a href="#" class="button">Curriculum</a>
        <a href="#/tab/math-videos" class="button">Videos</a>
    </div>
</div>


<ion-view>
  <ion-content ng-controoler="ListController" class="padding text-center has-subheader">
        <img class="course-heading-images" src="img/mathematical_thinking.png" alt="iamge">
       <h2> Effective Math</h2>
       <p> Learn tools of effective thinking through puzzles and the world of mathematics around you in this fun and fascinating course.</p>
        <ion-list>
          </ion-item>
          <div class="start-learning-btn">
          <a href="#/tab/math-videos" class="button button-full button-calm">Start Learning</a>
        </div>
      </ion-list>
      
      </div>
  </ion-content>  
</ion-view>
 
