<ion-header-bar class="bar-calm">
      <a href="#/tab/courses"class="icon ion-ios-arrow-back button button-clear">back</a> 
      <h1 class="title droid-heading-fix">Pogram Design</h1>
</ion-header-bar>
<!-- second nav pane -->

<div class="bar bar-subheader">
    <div class="button-bar button-positive">
        <a href="#/tab/pdesign-course"class="button">Description</a>
        <a href="#" class="button">Curriculum</a>
        <a href="#/tab/pdesign-videos" class="button">Videos</a>
    </div>
</div>


<ion-view>
  <ion-content  class="padding text-center has-subheader">
        <img class="course-heading-images" src="img/program_design.png" alt="iamge">
       <h2> Systematic Program Design</h2>
       <p>Learn the foundations of how to code well - writing programs that tell a clear story about what they do, are tested, and easy to improve.</p>
        <ion-list>
          </ion-item>
          <div class="start-learning-btn">
          <a href="#/tab/pdesign-videos" class="button button-full button-calm">Start Learning</a>
        </div>
      </ion-list>
      
      </div>
  </ion-content>  
</ion-view>
 
