<ion-header-bar class="bar-calm">
      <a href="#/tab/courses"class="icon ion-ios-arrow-back button button-clear">back</a> 
      <h1 class="title droid-heading-fix">Programming Paradigm</h1>
</ion-header-bar>
<!-- second nav pane -->

<div class="bar bar-subheader">
    <div class="button-bar button-positive">
        <a href="#/tab/pparadigm-course"class="button">Description</a>
        <a href="#" class="button">Curriculum</a>
        <a href="#/tab/pparadigm-videos" class="button">Videos</a>
    </div>
</div>


<ion-view>
  <ion-content  class="padding text-center has-subheader">
        <img class="course-heading-images" src="/img/programming_paradigms.png" alt="iamge">
       <h2> Programming Paradigms in Java </h2>
       <p>This Specialization covers intermediate topics in software development. You’ll learn object-oriented programming principles that will allow you to use Java to its full potential.</p>
        <ion-list>
          </ion-item>
          <div class="start-learning-btn">
          <a href="#/tab/pparadigms-videos" class="button button-full button-calm">Start Learning</a>
        </div>
      </ion-list>
      
      </div>
  </ion-content>  
</ion-view>
 
