<ion-header-bar class="bar-calm">
      <a href="#/tab/math-course" class="icon ion-ios-arrow-back button button-clear">back</a> 
        <h1 class="title droid-heading-fix ">Math Videos</h1>
      </ion-header-bar>
       <!-- second nav pane -->
       <!--
       <div class="bar bar-subheader ">
        <div class="button-bar">
          <a class="button">Introductory</a>
          <a class="button">Intermediate</a>
          <a class="button">Advanced</a>
        </div>
      </div>
    -->
       <ion-content class="padding">
       <!-- curriulum list -->
        <ion-list  class="item-text-wrap">
          <ion-item  > 
            <h3>Programming Paradigms Intro</h3> 
            <div class="video-container">
              <iframe ng-src="https://www.youtube-nocookie.com/embed/Ps8jOj7diA0?controls=0&amp;showinfo=0"></iframe> 
            </div>
          </ion-item>   
      </ion-list>
</ion-content>
