<ion-tabs class="tabs-icon-top tabs-calm">

	<!-- home tab -->
	<ion-tab title="Home" icon="ion-ios-home"
	 href="#/tab/home">
	 <ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	 <!-- Courses Tab -->
	 <ion-tab title="Courses" icon="ion-ios-book"
	 	href="#/tab/courses">
	 	<ion-nav-view name="courses-tab"></ion-nav-view>
	</ion-tab>

	<!-- Settings Tab -->
	  <ion-tab title="About" icon="ion-ios-information"
	 	href="#/tab/about">
	 	<ion-nav-view name="about-tab"></ion-nav-view>
	</ion-tab>
	
</ion-tabs>